<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Checking session state, stand by...</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>Not logged in</h1>
                    <p>Please log in to view this page.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Resource unavailable</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, that resource wasn't found or is currently unavailable.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
